OPENSEARCH_INITIAL_ADMIN_PASSWORD=changeme
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/URL
NEW_RELIC_LICENSE_KEY=your_license_key_here
NEW_RELIC_APP_NAME=opensearch-lab-api
NEW_RELIC_AI_MONITORING_ENABLED=false
